In [1]:
import pandas as pd
df1 = pd.read_csv("career (4).csv", dtype=str)
df = df1.copy()
df.head()

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,AI ML,Software Engineering,Business Analysis,Communication skills,Data Science,Troubleshooting skills,Graphics Designing,Role
0,Professional,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Oracle Database Administration (DBA)
1,Professional,Poor,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Oracle Database Administration (DBA)
2,Professional,Beginner,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Oracle Database Administration (DBA)
3,Professional,Average,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Oracle Database Administration (DBA)
4,Professional,Intermediate,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Not Interested,Oracle Database Administration (DBA)

In [3]:

x=df['Database Fundamentals'].unique().astype(str)
y=df['Computer Architecture'].unique()
z=df['Distributed Computing Systems'].unique()
f=df['Cyber Security'].unique()
c=df['Networking'].unique()
a=df['Software Development'].unique()
b=df['Programming Skills'].unique()
d=df['Project Management'].unique()
e=df['Computer Forensics Fundamentals'].unique()
g=df['Technical Communication'].unique()
h=df['AI ML'].unique()
i=df['Software Engineering'].unique()
j=df['Business Analysis'].unique()
k=df['Communication skills'].unique()
l=df['Data Science'].unique()
m=df['Troubleshooting skills'].unique()
n=df['Graphics Designing'].unique()
o=df['Role'].unique()

print("Database Fundamentals=",x)
print("Computer Architecture=",y)
print("Leadership_Experience=",z)
print("Cyber Security	=",f)
print("Networking=",c)
print("Software Development=",a)
print("Programming Skills=",b)
print("Project Management=",d)
print("Computer Forensics Fundamentals=",e)
print("Technical Communication=",g)
print("AI ML=",h)
print("Software Engineering=",i)
print("Business Analysis=",j)
print("Communication skills=",k)
print("Data Science=",l)
print("Troubleshooting skills=",m)
print("Graphics Designing=",n)
print("Role=",o)

Database Fundamentals= ['Professional' 'Not Interested' 'Poor' 'Beginner' 'Average'
 'Intermediate' 'Excellent']
Computer Architecture= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Leadership_Experience= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Cyber Security	= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Networking= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Software Development= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Programming Skills= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Project Management= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Computer Forensics Fundamentals= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Technical Communication= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
AI ML= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Software Engineering= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Business Analysis= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Communication skills= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Data Science= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Troubleshooting skills= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 'Professional']
Graphics Designing= ['Not Interested' 'Poor' 'Beginner' 'Average' 'Intermediate' 'Excellent'
 nan 'Professional']
Role= ['Oracle Database Administration (DBA)' 'Embedded Systems Engineering'
 'IT Support and Application Management'
 'Cybersecurity and Ethical Hacking'
 'Network Engineering and Infrastructure' 'Full-Stack Web Development'
 'API Development and Integration' 'Project Management Professional (PMP)'
 'Digital Forensics and Incident Response (DFIR)'
 'Technical Writing and Documentation'
 'Artificial Intelligence and Machine Learning'
 'Software Testing and Quality Assurance (QA)'
 'Business Analysis and Requirements Management'
 'Customer Service and Relationship Management'
 'Data Science and Advanced Analytics'
 'IT Support and Helpdesk Management'
 'Graphic Design and Visual Communication']

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Database Fundamentals'] = label_encoder.fit_transform(df['Database Fundamentals'])
df['Computer Architecture'] = label_encoder.fit_transform(df['Computer Architecture'])
df['Distributed Computing Systems'] = label_encoder.fit_transform(df['Distributed Computing Systems'])
df['Cyber Security'] = label_encoder.fit_transform(df['Cyber Security'])
df['Networking'] = label_encoder.fit_transform(df['Networking'])
df['Software Development'] = label_encoder.fit_transform(df['Software Development'])
df['Programming Skills'] = label_encoder.fit_transform(df['Programming Skills'])
df['Project Management'] = label_encoder.fit_transform(df['Project Management'])
df['Computer Forensics Fundamentals'] = label_encoder.fit_transform(df['Computer Forensics Fundamentals'])
df['Technical Communication'] = label_encoder.fit_transform(df['Technical Communication'])
df['AI ML'] = label_encoder.fit_transform(df['AI ML'])
df['Software Engineering'] = label_encoder.fit_transform(df['Software Engineering'])
df['Business Analysis'] = label_encoder.fit_transform(df['Business Analysis'])
df['Communication skills'] = label_encoder.fit_transform(df['Communication skills'])
df['Data Science'] = label_encoder.fit_transform(df['Data Science'])
df['Troubleshooting skills'] = label_encoder.fit_transform(df['Troubleshooting skills'])
df['Graphics Designing'] = label_encoder.fit_transform(df['Graphics Designing'])
df['Role'] = label_encoder.fit_transform(df['Role'])

In [7]:
df.head(20)

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,AI ML,Software Engineering,Business Analysis,Communication skills,Data Science,Troubleshooting skills,Graphics Designing,Role
0,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
1,6,5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
2,6,1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
3,6,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
4,6,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
5,6,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,13
6,6,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
7,6,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
8,6,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
9,6,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
10,6,3,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
11,6,2,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,13
12,6,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
13,6,5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
14,6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
15,6,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
16,6,3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
17,6,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13
18,6,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13
19,6,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13

In [9]:
df['Role'].unique()

array([13,  7, 10,  4, 12,  8,  0, 14,  6, 16,  1, 15,  2,  3,  5, 11,  9])

In [11]:
df['Role'].value_counts()

13    540
16    540
11    540
5     540
3     540
2     540
15    540
1     540
6     540
7     540
14    540
0     540
8     540
12    540
4     540
10    540
9     539
Name: Role, dtype: int64

In [13]:
df.describe()

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,AI ML,Software Engineering,Business Analysis,Communication skills,Data Science,Troubleshooting skills,Graphics Designing,Role
count,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000,9179.000000
mean,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.705959,2.706068,7.999891
std,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850403,1.850626,4.899502
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000
50%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,8.000000
75%,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,12.000000
max,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,7.000000,16.000000

In [15]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)

X = df.drop('Role', axis=1)
y = df['Role']

X_resampled, y_resampled = smote.fit_resample(X, y)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=150)

In [19]:
X_train.shape

(6426, 17)

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
X_train_scaled.shape

(6426, 17)

In [25]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.metrics import accuracy_score, f1_score
import warnings

warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
pca = PCA(n_components=16)  
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

selector = SelectKBest(f_classif, k=16) 
X_train_selected = selector.fit_transform(X_train_pca, y_train)
X_test_selected = selector.transform(X_test_pca)

models = {
    "Logistic Regression": LogisticRegression(C=0.1, random_state=150),
    "Support Vector Classifier": SVC(C=0.1, probability=True, random_state=150),
    "Random Forest Classifier": RandomForestClassifier(
        max_depth=10, min_samples_split=10, n_estimators=50, random_state=150
    ),
    "K Nearest Neighbors": KNeighborsClassifier(n_neighbors=5),
    "Decision Tree Classifier": DecisionTreeClassifier(
        max_depth=10, min_samples_split=10, random_state=150
    ),
    "Gaussian Naive Bayes": GaussianNB(),
    "AdaBoost Classifier": AdaBoostClassifier(n_estimators=50, random_state=150),
    "Gradient Boosting Classifier": GradientBoostingClassifier(
        max_depth=5, n_estimators=50, random_state=150
    ),
    "XGBoost Classifier": XGBClassifier(
        max_depth=5, n_estimators=50, use_label_encoder=False, eval_metric='mlogloss', random_state=150
    ),
}
results = {}
for name, model in models.items():
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    
    results[name] = {
        "Accuracy": accuracy,
        "F1-Score": f1,
    }

for name, metrics in results.items():
    print(f"Model: {name}")
    print(f"Accuracy: {metrics['Accuracy']}")
    print(f"F1-Score: {metrics['F1-Score']}")
    print("=" * 50)

Model: Logistic Regression
Accuracy: 0.9520697167755992
F1-Score: 0.9520703073183787
==================================================
Model: Support Vector Classifier
Accuracy: 0.9084967320261438
F1-Score: 0.8900909147100069
==================================================
Model: Random Forest Classifier
Accuracy: 0.9310094408133623
F1-Score: 0.9310020746713001
==================================================
Model: K Nearest Neighbors
Accuracy: 0.8326071169208424
F1-Score: 0.8406363611184856
==================================================
Model: Decision Tree Classifier
Accuracy: 0.8006535947712419
F1-Score: 0.804246944934832
==================================================
Model: Gaussian Naive Bayes
Accuracy: 0.8198983297022513
F1-Score: 0.8388715275390254
==================================================
Model: AdaBoost Classifier
Accuracy: 0.7868554829339143
F1-Score: 0.7895981186800893
==================================================
Model: Gradient Boosting Classifier
Accuracy: 0.9320987654320988
F1-Score: 0.9322663469255489
==================================================
Model: XGBoost Classifier
Accuracy: 0.9625998547567175
F1-Score: 0.9626941760604079
==================================================

In [26]:
model = XGBClassifier()

model.fit(X_train_selected, y_train)

y_pred = model.predict(X_test_selected)
print("Accuracy: ",accuracy_score(y_test, y_pred))

Accuracy:  0.9629629629629629

In [27]:
# test 1
print("Actual Label :", y_test.iloc[13])
print("Model Prediction :",model.predict(X_test_selected[13].reshape(1,-1))[0])
if y_test.iloc[13]==model.predict(X_test_selected[13].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 15
Model Prediction : 15
Wow! Model doing well.....

In [28]:
# test 2
print("Actual Label :", y_test.iloc[50])
print("Model Prediction :",model.predict(X_test_selected[50].reshape(1,-1))[0])
if y_test.iloc[50]==model.predict(X_test_selected[50].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 4
Model Prediction : 4
Wow! Model doing well.....

In [29]:
pip install fastapi uvicorn scikit-learn

Collecting fastapi
  Downloading fastapi-0.115.12-py3-none-any.whl (95 kB)
                                              0.0/95.2 kB ? eta -:--:--
     ------------                             30.7/95.2 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 95.2/95.2 kB 903.4 kB/s eta 0:00:00
Requirement already satisfied: uvicorn in c:\users\mega2\anaconda3\lib\site-packages (0.34.0)
Requirement already satisfied: scikit-learn in c:\users\mega2\anaconda3\lib\site-packages (1.2.2)
Collecting starlette<0.47.0,>=0.40.0 (from fastapi)
  Downloading starlette-0.46.1-py3-none-any.whl (71 kB)
                                              0.0/72.0 kB ? eta -:--:--
     ---------------------------------------  71.7/72.0 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 72.0/72.0 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in c:\users\mega2\anaconda3\lib\site-packages (from fastapi) (2.8.2)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\mega2\anaconda3\lib\site-packages (from fastapi) (4.13.2)
Requirement already satisfied: click>=7.0 in c:\users\mega2\anaconda3\lib\site-packages (from uvicorn) (8.0.4)
Requirement already satisfied: h11>=0.8 in c:\users\mega2\anaconda3\lib\site-packages (from uvicorn) (0.14.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mega2\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\mega2\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\mega2\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mega2\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: colorama in c:\users\mega2\anaconda3\lib\site-packages (from click>=7.0->uvicorn) (0.4.6)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\mega2\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\mega2\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.20.1)
Collecting anyio<5,>=3.6.2 (from starlette<0.47.0,>=0.40.0->fastapi)
  Downloading anyio-4.9.0-py3-none-any.whl (100 kB)
                                              0.0/100.9 kB ? eta -:--:--
     -----------------------                 61.4/100.9 kB 3.2 MB/s eta 0:00:01
     -------------------------------------- 100.9/100.9 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: idna>=2.8 in c:\users\mega2\anaconda3\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.47.0,>=0.40.0->fastapi) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\mega2\anaconda3\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.47.0,>=0.40.0->fastapi) (1.2.0)
Installing collected packages: anyio, starlette, fastapi
  Attempting uninstall: anyio
    Found existing installation: anyio 3.5.0
    Uninstalling anyio-3.5.0:
      Successfully uninstalled anyio-3.5.0
Successfully installed anyio-4.9.0 fastapi-0.115.12 starlette-0.46.1
Note: you may need to restart the kernel to use updated packages.

In [30]:
import os
import joblib
if not os.path.exists('Models'):
    os.makedirs('Models')
joblib.dump(scaler, "Models/scaler.pkl")
joblib.dump(pca, "Models/pca.pkl")
joblib.dump(selector, "Models/selector.pkl")
joblib.dump(model, "Models/model.pkl")

['Models/model.pkl']

In [ ]:
import numpy as np
from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
from fastapi.responses import JSONResponse
import joblib
import uvicorn
import nest_asyncio

#  
scaler = joblib.load("Models/scaler.pkl")
pca = joblib.load("Models/pca.pkl")
selector = joblib.load("Models/selector.pkl")
model = joblib.load("Models/model.pkl")

#   
class_names = [
    'Oracle Database Administration (DBA)',
    'Embedded Systems Engineering',
    'IT Support and Application Management',
    'Cybersecurity and Ethical Hacking',
    'Network Engineering and Infrastructure',
    'Full-Stack Web Development',
    'API Development and Integration',
    'Project Management Professional (PMP)',
    'Digital Forensics and Incident Response (DFIR)',
    'Technical Writing and Documentation',
    'Artificial Intelligence and Machine Learning',
    'Software Testing and Quality Assurance (QA)',
    'Business Analysis and Requirements Management',
    'Customer Service and Relationship Management',
    'Data Science and Advanced Analytics',
    'IT Support and Helpdesk Management',
    'Graphic Design and Visual Communication'
]

#   FastAPI
app = FastAPI()

#   
class UserInput(BaseModel):
    Database_Fundamentals: str
    Computer_Architecture: str
    Leadership_Experience: str
    Cyber_Security: str
    Networking: str
    Software_Development: str
    Programming_Skills: str
    Project_Management: str
    Computer_Forensics_Fundamentals: str
    Technical_Communication: str
    AI_ML: str
    Software_Engineering: str
    Business_Analysis: str
    Communication_Skills: str
    Data_Science: str
    Troubleshooting_Skills: str
    Graphics_Designing: str

#      
def map_experience(value):
    mapping = {"Excellent": 3, "Average": 2, "Beginner": 1, "Not Interested": 0}
    return mapping.get(value, 0)

#    
@app.get("/")
def read_root():
    return JSONResponse(content={"message": "Welcome to the recommendation API! Please use POST /recommend."})

#    
@app.post("/recommend")
def recommendations(user_input: UserInput):
    try:
        #    
        feature_array = np.array([[
            map_experience(user_input.Database_Fundamentals),
            map_experience(user_input.Computer_Architecture),
            map_experience(user_input.Leadership_Experience),
            map_experience(user_input.Cyber_Security),
            map_experience(user_input.Networking),
            map_experience(user_input.Software_Development),
            map_experience(user_input.Programming_Skills),
            map_experience(user_input.Project_Management),
            map_experience(user_input.Computer_Forensics_Fundamentals),
            map_experience(user_input.Technical_Communication),
            map_experience(user_input.AI_ML),
            map_experience(user_input.Software_Engineering),
            map_experience(user_input.Business_Analysis),
            map_experience(user_input.Communication_Skills),
            map_experience(user_input.Data_Science),
            map_experience(user_input.Troubleshooting_Skills),
            map_experience(user_input.Graphics_Designing)
        ]])

        #    
        if feature_array.shape[1] != 17:
            raise HTTPException(status_code=400, detail="The number of inputs does not match the model's expectations.")

        #   (Scaling)
        scaled_features = scaler.transform(feature_array)

        #  PCA
        pca_features = pca.transform(scaled_features)

        #  Selector
        selected_features = selector.transform(pca_features)

        #    
        probabilities = model.predict_proba(selected_features)

        #    3 
        top_classes_idx = np.argsort(-probabilities[0])[:3]

        #    
        top_classes_idx = [idx for idx in top_classes_idx if 0 <= idx < len(class_names)]

        #  
        if not top_classes_idx:
            raise HTTPException(status_code=404, detail="No valid recommendations found.")

        recommendations = [{"job": class_names[idx]} for idx in top_classes_idx]

        return {"recommendations": recommendations}

    except Exception as e:
        raise HTTPException(status_code=500, detail=f"An error occurred: {str(e)}")

#  
if __name__ == "__main__":
    nest_asyncio.apply()
    uvicorn.run(app, host="127.0.0.1", port=8080)

INFO:     Started server process [4064]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8080 (Press CTRL+C to quit)

INFO:     127.0.0.1:64703 - "GET /docs HTTP/1.1" 200 OK
INFO:     127.0.0.1:64703 - "GET /openapi.json HTTP/1.1" 200 OK
INFO:     127.0.0.1:64776 - "POST /recommend HTTP/1.1" 200 OK

C:\Users\mega2\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\mega2\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

INFO:     127.0.0.1:64833 - "POST /recommend HTTP/1.1" 200 OK

C:\Users\mega2\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\mega2\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

In [32]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in c:\users\mega2\anaconda3\lib\site-packages (1.5.6)

In [ ]:
curl -X 'POST' \
  'http://127.0.0.1:8000/recommend' \
  -H 'Content-Type: application/json' \
  -d '{
    "Database_Fundamentals": "Excellent",
    "Computer_Architecture": "Average",
    "Leadership_Experience": "Excellent",
    "Cyber_Security": "Beginner",
    "Networking": "Average",
    "Software_Development": "Excellent",
    "Programming_Skills": "Excellent",
    "Project_Management": "Beginner",
    "Computer_Forensics_Fundamentals": "Not Interested",
    "Technical_Communication": "Excellent",
    "AI_ML": "Average",
    "Software_Engineering": "Beginner",
    "Business_Analysis": "Not Interested",
    "Communication_Skills": "Excellent",
    "Data_Science": "Average",
    "Troubleshooting_Skills": "Excellent",
    "Graphics_Designing": "Not Interested",
    "top_n": 3
  }'